
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    opacity: 0;
}

body {
    height: 100vh;
    width: 100wv;
    background-image: url('./assets/background1.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.flex-container {
    display:flex;
}

.nav-head {
    position: relative;
    justify-content: space-between;
    padding: 30px 40px;
    font-size: 20px;
    color: #fff;
    
}

.flex-container-column {
    display:flex;
    gap: 5px;
}

.search , .searchInput, .googleSvg {
    position: absolute;
    top: 33px;
    cursor: pointer;
    left: 83px;
    color: #fff;
  
}

.divSearchContainer {
    position: relative;
 
}

.searchInput {
    left : 120px;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    background-color: transparent;
    top: 23;
    font-size: 15px;

}
.searchInput:focus {
    outline: none;
}



.googleSvg {
    top:23;
left: 320px;
}

.filterWhite {
    filter: invert(99%) sepia(22%) saturate(446%) hue-rotate(182deg) brightness(118%) contrast(100%);
}

#searchSpan {
    opacity: 0;
    transition: opacity .40s;
}

#searchSpan:hover {
    opacity: .5;
}

.timeInputContainer {
    display: flex;
    align-items: center;

    flex-direction: column;
    height: 100%;
    text-align: center;
    gap: 10%;

}

.timeCOntainer {
    display: flex; 
    align-items: center;
    height: 16vw;
}
#time {
    font-size: 15vw;
    color: #fff
}
#amPm {
    color: #fff;
    font-size: 2vw;
}



#linkCard {
    position: absolute;
    background-color: #fff;
    color: #797878;
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 300px;
    left: 25px;
    display: grid;
    grid-template-columns: 100% 100%;

    
}

.filterGray {
    filter: invert(49%) sepia(8%) saturate(8%) hue-rotate(356deg) brightness(94%) contrast(82%);
}


.width20 {
    width: 20px;
}
li {
    list-style-type: none;
}

#linkCard {
    opacity: 0;
    z-index: -20;
}

#linkCard > ul {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

#linkCard > ul > li,  #linkCard > ul > div{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}

#linkCard::after {
    content: " ";
    width: 40px !important;
    height: 40px;
    background-color: red;
    display: block;
    transform: skew(15deg);
    border-radius: 5px ;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: 6px;
    z-index: -5;
    background-color: #fff;
}

#linkNav {
    cursor: pointer;
}


.newLinkcard {
    opacity: 0;
    display:none;

}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}

.deleteLink {
    position: absolute;
    right: 0;
}

.linkTop, .addTaskForm, .todoCard, .innerTaskCardContainer{
    font-size: 15px;
    font-weight: bold;
    color:#797878;

}

.addTaskForm > * {
    margin-bottom: 20px;
}

#formLinkCard > *  {
    margin-bottom: 10px;
}


.linkTopInput {
    border: 0;
    border-bottom: 2px solid rgb(110, 110, 110);
    padding: 2px;
}
.linkTopInput:focus {
    outline: none;
}

#linkButton,#taskCreate {
background-color: #fd7c40;
border: none;
padding: 5px 20px;
border-radius: 20px;
color: #fff;
cursor: pointer;
}
#backCard {
    cursor: pointer;
}

#greetings,#nameGreet {
font-size: 4vw;
    color: #fff;
}

#nameGreet {
    background-color: transparent;
    border: 0;
    max-width: 200px;
}
#nameGreet:focus{
    outline: none;
}

::placeholder {
    font-size: 20px;
  }

  .addTodo {
      position: absolute;
      background-color: #fff;
      right: 60px;
      top:80px;
      padding: 20px;
      border-radius: 5px;
    color: #000;
    z-index: -20;
    opacity: 0;
  }

  .addTodo::after {
    content: " ";
    width: 40px !important;
    height: 40px;
    display: block;
    transform: skew(15deg);
    border-radius: 5px ;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    right: 6px;
    z-index: -5;
    background-color: #fff;
  }

  .todoSection {
      position: absolute;
      right: 50px;
      bottom:50px;
      color: #fff;
      font-size: 30px;
  }

  .taskCounter {
      position: absolute;
      bottom: 30px;
      right: 0;
        z-index: 20;
      padding: 5px 10px;
      border-radius: 50%;
      font-size: 15px;
  }

  .todoCard {
      position: absolute;
      background-color: #fff;
      color: black;
    font-size: 25px;
        bottom: 50px;
        right: 10px;
        border-radius: 10px;
        width: 300px;
        height: auto;
        opacity: 0;
        z-index: -20;

    }

    .todoCard > .innerTaskCardContainer {
        padding: 20px 10px;
        width: 100%;
    }

    .todoCardhead {
        padding:  10px 20px;
        
        outline: none;
    }

    .todoCardhead > select {
        border: 0;
        font-size: 20px;
    }
    .todoCardhead > select:focus {
        outline: none;
    }

    .todoCard::after {
        content: " ";
        width: 40px !important;
        height: 40px;
        display: block;
        transform: skew(15deg);
        border-radius: 5px ;
        transform: rotate(45deg);
        position: absolute;
        bottom: -5px;
        right: 6px;
        z-index: -5;
        background-color: #fff;
      }

      .todoCardhead {
        border-bottom: 1px solid rgb(151, 150, 150);
      }

      .innerTaskCardContainer > li{
          display:flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;
        justify-content: flex-end;
      }


      #addTaskButton,.todoSection {
          cursor: pointer;
      }

      .innerTaskCardContainer > li{
        margin-bottom: 10px;
      }

      .focus {
          color: #fff;
      }

      #focusInput {
          font-size: 20px;
          background-color: transparent;
          border: 0;
          border-bottom: 2px solid #fff;
          text-align: center;
          color: #fff
      }

      #focusInput:focus  {
          outline: none;
      }

      #focusToday {
          font-size: 50px;
      }
      #focusCheck {
          width: 50px;
          height: 20px;
          
      }
      #quotesContainer {
 
          font-size: 25px;
          color: #fff
      }

      #quotesContainerSpan {
          padding: 5px 10px;
      }
      
      #addQuote {
          cursor: pointer;
          margin-right: 20px;
      }