
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    opacity: 0;
}

body {
    height: 100vh;
    width: 100wv;
    background-image: url('./assets/background1.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.flex-container {
    display:flex;
}

.nav-head {
    position: relative;
    justify-content: space-between;
    padding: 30px 40px;
    font-size: 20px;
    color: #fff;
    
}

.flex-container-column {
    display:flex;
    gap: 5px;
}

.search , .searchInput, .googleSvg {
    position: absolute;
    top: 33px;
    cursor: pointer;
    left: 83px;
    color: #fff;
  
}

.divSearchContainer {
    position: relative;
 
}

.searchInput {
    left : 120px;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    background-color: transparent;
    top: 23;
    font-size: 15px;

}
.searchInput:focus {
    outline: none;
}



.googleSvg {
    top:23;
left: 320px;
}

.filterWhite {
    filter: invert(99%) sepia(22%) saturate(446%) hue-rotate(182deg) brightness(118%) contrast(100%);
}

#searchSpan {
    opacity: 0;
    transition: opacity .40s;
}

#searchSpan:hover {
    opacity: .5;
}

.timeInputContainer {
    display: flex;
    align-items: center;

    flex-direction: column;
    height: 100%;
    text-align: center;
    gap: 10%;

}

.timeCOntainer {
    display: flex; 
    align-items: center;
    height: 16vw;
}
#time {
    font-size: 15vw;
    color: #fff
}
#amPm {
    color: #fff;
    font-size: 2vw;
}



#linkCard {
    position: absolute;
    background-color: #fff;
    color: #797878;
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 300px;
    left: 25px;
}

.filterGray {
    filter: invert(49%) sepia(8%) saturate(8%) hue-rotate(356deg) brightness(94%) contrast(82%);
}


.width20 {
    width: 20px;
}
li {
    list-style-type: none;
}

#linkCard {
    opacity: 0;
}

#linkCard > ul {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

#linkCard > ul > li,  #linkCard > ul > div{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#linkCard::after {
    content: " ";
    width: 40px !important;
    height: 40px;
    background-color: red;
    display: block;
    transform: skew(15deg);
    border-radius: 5px ;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: 5;
    z-index: -5;
    background-color: #fff;
}

#linkNav {
    cursor: pointer;
}

